################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/mult_64bit_vedic/v17
/.vs/mult_64bit_vedic/project-colors.json
/.vs/VSWorkspaceState.json
